<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @catalog.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catalog.description %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @catalog.enabled %>
</p>

<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
