<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @presentation.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @presentation.description %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
